body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-image: url(background.jpg);
}
h1 {
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
}
img {
    width: 5vw;
    height: auto;
}
ul {
    list-style-position: inside;
}
li {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 3vh;
}
a {
    text-decoration: none;
}
button {
    margin-top: 5vh;
    padding: 2rem;
    border: 2px solid grey;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.55);
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 0, 0, 0.8);
}
.container {
    display: flex;
    flex-direction: column;
}
.topContainer {
    margin-top: 7vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.midContainer {
    margin-top: 10vh;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botContainer {
    margin-top: 8vh;
    text-align: center;
}
#li_0 {
    text-indent: 20vw;
}
#li_1 {
    text-indent: 40vw;
}
#li_2 {
    text-indent: 28vw;
}
#li_3 {
    text-indent: 50vw;
}
@media screen and (max-width:1000px) {
    #li_0 {
        text-indent: 7vw;
    }
    #li_1 {
        text-indent: 25vw;
    }
    #li_2 {
        text-indent: 15vw;
    }
    #li_3 {
        text-indent: 30vw;
    }  
}
@media screen and (max-width: 600px){
    img {
        height: 7vh;
        width: auto;
    }
    .topContainer {
        margin-top: 1rem;
    }
    .midContainer {
        margin-top: 3vh;
    }
    .botContainer {
        margin-top: 5vh;
        text-align: center;
    }
    #li_0 {
        text-indent: 0px;
    }
    #li_1 {
        text-indent: 0px;
    }
    #li_2 {
        text-indent: 0px;
    }
    #li_3 {
        text-indent: 0px;
    }
}